.site-header {
    position: relative;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #FEFCF7;

    &__hamburger {
        width: 20px;
        height: 20px;
        padding: 0;
        background-image: url("../images/humberger.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-color: #fff;
        border: none;
        // display: none;
    }
}

.header {
    margin: 44px 0 41px;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width:1279px) {
    .site-header {
        position: relative;
        z-index: none;
        background-color: #FEFCF7;
    }

}

@media only screen and (max-width:570px) {
    .header--open .nav {
        position: absolute;
        top: 100%;
        left: 0;
        display: flex;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        background-color:rgb(42, 152, 241);
    }

    .header--open .nav__list {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .header--open .nav__link {
        color: #fff;
    }

    .site-header__hamburger {
        display: inline-block;
    }

    .header--open .site-header__hamburger {
        background-image: url("../images/times-solid.svg");
        background-color: #fff;
    }
}